* {
    transition: all .3s ease;
}
/**
 * Site header
 */
.site-header {
    text-align: center;
    padding: 1rem 0;
    p {
        font-size: 12px;
        color: $grey-color;
    }
}
.site-title {
    font-size: 1em;
    letter-spacing: 4px;
    font-weight: 400;
    color: $brand-color;
    text-transform: uppercase;
    &,
    &:hover {
        text-decoration: none;
    }
}
/**
 * Page content
 */
.page-content {

}
/**
 * Pages
 */
.home {
    section + section {
        margin-top: $spacing-unit;
    }
}
.post-list > li {
    margin-bottom: $spacing-unit / 4;
    @include media-query($on-palm) {
        span {
            display: block;
            font-size: $small-font-size;
        }
    }
}
.post-list li {
    padding: 10px 0;
    list-style: none;
    span {
        color: rgba(255, 255, 255, .7);
        font-weight: bold;
        font-size: 12px;
    }
}
.post-list li a {
    display: block;
    list-style: none;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
}
.post-list li a:hover {
    color: #aaa;
    text-decoration: none;
}
/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover !important;
    .post-header-content {
        width: 48rem;
        margin: 0 auto;
    }
}
.post-title {
    color: #fff;
    font-size: 3em;
    letter-spacing: -1px;
    line-height: 1;
}
.post-meta {
    color: rgba(255, 255, 255, .7);
    font-size: $small-font-size;
}
.post-content {
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: $spacing-unit;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 2rem;
    }
    h1,
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.25rem;
    }
    h5,
    h6 {
        font-size: 1rem;
    }
}
footer {
    font-size: $small-font-size;
    text-align: center;
}
